@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    display: flex;
    justify-content: center;
    /* En este caso en el body funciona, pero lo recomendable es usar otro contenedor */
    font-family: "Roboto Flex", serif;
}

.post {
    max-width: 364px;
    border: 1px gray solid;
}

.div-post-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.left-side {
    display: flex;
}

.username {
    margin: 0;
}

.logo-html {
    font-size: 35px;
    margin-right: 10px;
}

.three-points {
    font-size: 24px;
}


.post-image {}

.Imagen {
    width: 100%;
    height: 300px;
}

.post-body {}

.post-icons {
    display: flex;
    justify-content: space-between;
    
    padding: 2px;
}

.left-side-buttons {
    display: flex;
    gap: 5px;
}

.button {
    font-size: 24px;
}

.right-side-buttons {

    display: flex;
    justify-content: right;
}